<div class="fixed-container">	

<div class="banner">
	<span id="reddit_camouflage_logo">
		<span >
			Reddit
		</span>
		<span class="camouflage">Camouflage</span>
	</span>
	<span  id="reddit_camouflage_buttons">
		<span>sign up</span>
		<span>log in</span>
		<span>tour</span>
		<span>help</span>
		<span>Reddit camouflage</span>
	</span>


	<input type="text" placeholder="search subreddit">
</div>
<div class="overflow_container">

	<div class="subheader">
		<span id="reddit_overflow_logo">
			<img src="pics/reddit_overflow_logo.jpg">
			<span>reddit</span>
			<span><b>overflow</b></span>
		</span>
		<span class="sub_questions">
			<span class="orange">Front Page</span>
			<span>Ask Reddit</span>
			<span>AMA</span>
			<span>Ask Reddit</span>
			<span>AMA</span>
		</span>
	</div>
	<div class="hint"> Reddit overflow helps you browse reddit at work in camouflage mode</div>

	<div class="subPost">
		<span class="subPost_title" ng-mouseenter="displayEdit()" ng-mouseleave="hideEdit()">
			<span id="subPost_title_content">{{overflow_title}}</span>
			<a ng-click="editTitle()" id="display_button">Edit Title</a>
			<input type="text" placeholder="{{overflow_title}}"  id="subPost_title_content_input">
			<a ng-click="editTitle()" id="comfirm_button">save</a>
		</span>
	</div>

</div>
</div>

<div class="scrollable-container">
	
	<div class="subPost" ng-repeat="post in posts">
		<br>
		<hr style="opacity:0.5;margin-right: 35%;">
		<span class="subVotes">
			<img class="arrow_up"  src="pics/arrow_up.png">
				{{post.score}}
			<img class="arrow_down"src="pics/arrow_up.png">
			<div class="subvote_trolls" >
				<img src="http://scribbler.party/pictures/icons/small-comment-black.png" style="height: initial;margin-left:-20px;"> {{post.num_comments}} 
			</div>
		</span>
		<span class="subContent">
			{{post.title}} 
			<span style="color: #808080;font-size: 12px;">

				({{post.domain}})
			</span> 
			<div style="color:grey;font-size:15px;white-space: pre-line;">
				{{post.selfTextShort}}
			</div>
			<br>
			<br>
			<div style="color: grey;font-size:12px;margin-top:0px;">
				submitted {{post.time}} by {{post.author}} 
			</div>
			<span id="sub_tags_container">
				<span class="sub_tags" ng-show="post.type.length > 0" >{{post.type}}</span>
				<span class="sub_tags">/r/{{post.subreddit}}</span>
				<span class="sub_tags" ng-show="post.domain.length > 0 && post.domain.indexOf('self') !=  0">{{post.domain}}</span>
			</span>
			<span class="subDate">
			<a href="{{post.url}}">
				<img ng-src="{{post.thumbnail.thumbnail_url}}" ng-show="post.thumbnail.thumbnail_url!='self'" style="width:50px;margin-bottom: -5px;margin-top: -15px;">
			</a>
				<div class="subreddit">created {{post.time}}</div>
			</span>
		</span>
	</div>
</div>
</span>
</div>
